<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    <nav class="navbar">
        <div class="logo">Dashboard</div>
        <ul class="nav-links">
            <li><b>Olá, {{ current_user.username }}</b></a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </nav>
    <h4></h4>
    <div class="container">
    <div class="row">